<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Minesweeper WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Minesweeper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>49A30C511CC7975700359888</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49A30C651CC7975800359888</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49A30C701CC7975800359888</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49A30C791CC7975800359888</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
